:root {
  --primary-color: rgb(78, 138, 207);
  --secondary-color: rgb(253, 189, 69);
}

html {
  font-family: "Roboto", sans-serif;
}

/* move this later */
button.search-btn {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

img {
  width: calc(10px + 0.5vw);
  height: calc(10px + 0.5vw);
}

body {
  /* min-height: 100vh;
  width: 100%; */
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: 0.8fr 4fr;
  grid-template-columns: 15rem 1fr;
}

/* --- Sidebar --- */
.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  color: white;
}

/* Sidebar links / menuitems */
.sidebar a {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  padding-left: 10px;
}

/* Sidebar - Dashboard */
.sidebar .dashboard {
  margin: 15px 0 30px 0;
}

.sidebar .dashboard img {
  width: calc(30px + 0.5vw);
  height: calc(30px + 0.5vw);
}

.sidebar h1 {
  font-size: 25px;
}

/* Sidebar - Top & Bottom Navs  */
.sidebar .top-nav img,
.sidebar .bottom-nav img {
  padding-left: 6px;
  width: calc(10px + 0.5vw);
  height: calc(10px + 0.5vw);
}

.sidebar .top-nav,
.sidebar .bottom-nav {
  font-size: 18px;
}

.sidebar .top-nav ul > *,
.sidebar .bottom-nav ul > * {
  padding: 8px 0;
}

.sidebar .bottom-nav {
  margin-top: 50px;
}

/* --- Header --- */
header {
  grid-area: header;
  border: 1px solid black;
}

.top-header {
  display: flex;
  padding: 1rem 1.5rem;
  gap: 2rem;
}

.top-header > * {
  display: flex;
  align-items: center;
}

/* (Top) Header - Search */
.top-header .search {
  flex: 1;
}

.top-header .search-btn {
  padding-right: 1rem; */
}

.top-header img {
  height: 20px;
  width: 20px;
}

.top-header input {
  width: min(80%, 600px);
  min-width: 150px;
  border: 0;
  background-color: rgb(213, 225, 236);
  border-radius: 15px;
  height: 25px;
}

/* (Top) Header - Account */
.top-header .account {
  flex: 1 2 0;
  justify-content: center;
  gap: 1.5rem;
}

.account img {
  width: calc(15px + 0.5vw);
  height: calc(15px + 0.5vw);
}
.account .avatar {
  width: calc(30px + 0.7vw);
  height: calc(30px + 0.7vw);
  border-radius: 50%;
}

.account .account-name {
  font-weight: 800;
  font-size: clamp(1rem, 2vw, 1.2rem);
}

/* (Bottom) Header - Profile */

/* --- Main Content --- */
.content {
  grid-area: main;
  border: 1px solid black;
}
