:root {
  --primary-color: rgb(78, 138, 207);
  --secondary-color: rgb(210, 224, 243);
  --border-color: rgb(253, 189, 69);
}

html {
  font-family: "Roboto", sans-serif;
}

img {
  width: calc(10px + 0.5vw);
  height: calc(10px + 0.5vw);
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 15rem 1fr;
}

/* --- Sidebar --- */
.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  width: 15rem;
  height: 100%;
  overflow: auto;
}

/* Sidebar links / menuitems */
.sidebar a {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 50px auto;
  align-items: center;
  padding-left: 10px;
}

/* Sidebar - Dashboard */
.sidebar .dashboard {
  margin: 15px 0 30px 0;
}

.sidebar .dashboard img {
  width: calc(30px + 0.5vw);
  height: calc(30px + 0.5vw);
}

.sidebar h1 {
  font-size: 25px;
}

/* Sidebar - Top & Bottom Navs  */
.sidebar .top-nav img,
.sidebar .bottom-nav img {
  margin-left: 6px;
  width: calc(10px + 0.5vw);
  height: calc(10px + 0.5vw);
}

.sidebar .top-nav,
.sidebar .bottom-nav {
  font-size: 18px;
}

.sidebar .top-nav ul > *,
.sidebar .bottom-nav ul > * {
  padding: 8px 0;
}

.sidebar .bottom-nav {
  margin-top: 50px;
}

/* --- Header --- */
header {
  grid-area: header;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: white;
  height: 150px;
}

/* Top Header */
.top-header {
  display: flex;
  margin: 1rem 1.5rem;
  gap: 2rem;
  align-items: center;
  max-height: 4rem;
}

.top-header > * {
  display: flex;
  align-items: center;
}

/* (Top) Header - Search */
.top-header .search {
  flex: 1;
}

button.search-btn {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 1rem;
}

.top-header img {
  height: 20px;
  width: 20px;
}

.top-header input {
  width: min(80%, 600px);
  min-width: 150px;
  border: 0;
  background-color: var(--secondary-color);
  border-radius: 15px;
  height: 25px;
}

/* (Top) Header - Account */
.top-header .account {
  flex: 1 2 0;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 2rem;
}

.account .notification-icon {
  width: calc(15px + 0.5vw);
  height: calc(15px + 0.5vw);
}
.account .avatar {
  width: calc(30px + 0.7vw);
  height: calc(30px + 0.7vw);
  border-radius: 50%;
}

.account .account-name {
  font-weight: 800;
  font-size: clamp(1rem, 1.2rem, 1.2rem);
}

/* Bottom Header */
.bottom-header {
  display: flex;
  margin: 0 1.5rem 1rem 1.5rem;
  gap: 2rem;
  align-items: center;
  max-height: 4rem;
}

.bottom-header > * {
  display: flex;
  align-items: center;
}

/* (Bottom) Header - Profile */
.bottom-header .profile {
  flex: 2 1 0;
}
.profile .profile-pic img {
  width: calc(45px + 0.7vw);
  height: calc(45px + 0.7vw);
  border-radius: 50%;
}

.profile-name {
  font-weight: 700;
  margin-left: 1ch;
}
.profile-name .greeting {
  font-size: clamp(0.4rem, 0.8vw, 0.8rem);
}
.profile-name .name {
  font-size: clamp(0.8rem, 1.5rem, 1.5rem);
  margin-top: 0.5vh;
}

.profile .username {
  font-size: clamp(0.7rem, 1.4rem, 1.4rem);
}

/* (Bottom) Header - Actions */

.bottom-header .actions {
  flex: 1;
  gap: clamp(5px, 1.2vw, 1.3vw);
  justify-content: flex-end;
  margin-right: 2rem;
}

.actions button {
  color: white;
  /* font-size: clamp() */
  font-weight: 700;
  border-radius: 20%;
  width: 90px;
  height: 35px;
  min-width: 5px;
  border: 0;
  background-color: rgb(67, 149, 226);
  border-radius: 20px;
}

/* --- Main Content --- */
.content {
  grid-area: main;
  background-color: var(--secondary-color);
  padding: 2rem 2rem 0 1rem;
  display: grid;
  height: 100%;

  grid-template-columns: 5fr minmax(20ch, 1fr);
  /* 1fr auto */
  grid-template-rows: min-content 1fr;
  /* 1fr 1fr */
  gap: 2rem;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.content h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Projects  */
.projects {
  grid-area: projects;
}

.card {
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

.projects .card {
  background-color: white;
  border-left: 8px solid orange;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem 1.5rem 1rem;
  position: relative;
}

.projects .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 2rem;
}

.projects .card .card-title {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.projects .card .card-text {
  color: grey;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Number of lines before "..." */
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.projects .card .card-actions {
  align-self: flex-end;
  margin-top: auto;
  display: flex;
  gap: 1rem;
}

/* Announcements */
.announcements {
  grid-area: announcements;
}

.announcement {
  padding: 1rem 0;
}

.announcements .card {
  background-color: white;
  padding: 0.8rem 1.5rem 1rem 1.5rem;
}

.announcements .card .card-title {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.announcements .card .card-text {
  font-size: 0.8rem;
  color: grey;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* Number of lines before "..." */
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.announcement + .announcement {
  border-top: 1px solid lightgrey;
}

/* Trending */
.trending {
  grid-area: trending;
}

.trending .card {
  background-color: white;
  padding: 1.5rem;
}

.trending .trend {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}

.trend img {
  width: calc(30px + 0.7vw);
  height: calc(30px + 0.7vw);
  border-radius: 50%;
}

.trend-context {
  font-size: 0.9rem;
}

.trend-context .user {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.trend-context .description {
  color: grey;
}

.trend + .trend {
  margin-top: 1rem;
}
